$prim-orange: #F49653;
$prim-orange-d1: #E1813C;
$prim-orange-d2: #B56023;
$prim-orange-d1: #5A3113;
$prim-orange-l1: #F3B488;
$prim-orange-l2: #FFDBC2;

$prim-navy: #42577E;
$prim-navy-d1: #1E2C4A;
$prim-navy-l1: #7893BF;
$prim-navy-l2: #A9BEE5;
$prim-navy-l3: #D4E3FF;
$prim-navy-l4: #F2F7FF;

$prim-gray: #5D5D5D;
$prim-gray-d1: #444;
$prim-gray-11: #ACACAC;
$prim-gray-l2: #D5D5D5;
$prim-gray-l3: #F1F1F1;

$sec-green: #79DA9C;
$sec-green-d1: #6CB195;
$sec-green-l1: #B4E3C5;

$sec-red: #CB324C;
$sec-red-d1: #9E2E41;
$sec-red-l1: #CB324C;

$sec-yellow: #FFC451;
$sec-yellow-d1: #D49B2E;
$sec-yellow-l1: #F9D898;

$white: #FFF;

$black: #000;